* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.document {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  margin-right: 2%;
}

.navbar {
  height: 5rem;
  width: 100%;
}

#logonav {
  height: 90%;
}

#alivstyson {
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 5rem;
  width: 100%;
}

#gants {
  height: 3rem;
  margin-right: 10px;
}

.versus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.VERSUS{
  display: flex;
  justify-content: space-between;
}

